/* Reset b치sico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2d2d2d;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

body {
  font-family: 'Arial', sans-serif;
  background: #f4f6f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170vh;
}

#loginBody {
  font-family: 'Arial', sans-serif;
  background: #f4f6f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal del formulario */
.auth-form {
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Labels */
.auth-form label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Inputs */
.auth-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.auth-form input:focus {
  border-color: #28a745;
  outline: none;
}

/* Contenedor de contrase침as con ojito */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 40px; /* espacio para el bot칩n */
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
  transition: color 0.2s ease;
}

.password-wrapper .toggle-password:hover {
  color: #28a745;
}

/* Bot칩n principal */
.auth-form button[type="submit"] {
  background: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.auth-form button[type="submit"]:hover {
  background: #218838;
}

/* Texto debajo del formulario */
.auth-form p {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.auth-form p a {
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}

.auth-form p a:hover {
  text-decoration: underline;
}

/*modo oscuro*/
body.darkMode {
  background: #121212;
  color: #f1f1f1;
}

body.darkMode header {
  background: #1e1e1e;
  color: #f1f1f1;
}

body.darkMode footer {
  background: #1e1e1e;
  color: #ccc;
}

body.darkMode .product-card {
  background: #1f1f1f;
  border: 1px solid #444;
  color: #f1f1f1;
}

body.darkMode .product-card p {
  color: #bbb;
}

body.darkMode .sidebar {
  background: #1f1f1f;
  color: #f1f1f1;
}

body.darkMode .sidebar-toggle {
  background: #333;
  color: #f1f1f1;
}


body.darkMode button,
body.darkMode .btn {
  background: #28a745;
  color: #fff;
}

body.darkMode button:hover,
body.darkMode .btn:hover {
  background: #218838;
}
